<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coders.laundry.repository.LaundryRepository">
    <insert id="insert"
            parameterType="LaundryEntity"
            useGeneratedKeys="true"
            keyProperty="laundryId"
            keyColumn="laundry_id">

        INSERT INTO laundry (
               name, jibun_address, jibun_address_detail,
               doro_address, doro_address_detail,
               latitude, longitude, partnership
        ) VALUES (
               #{name}, #{jibunAddress}, #{jibunAddressDetail},
               #{doroAddress}, #{doroAddressDetail},
               #{latitude}, #{longitude}, #{partnership}
        );
    </insert>

    <select id="selectById" parameterType="int" resultType="LaundryEntity">
        SELECT laundry_id, name, jibun_address, jibun_address_detail,
               doro_address, doro_address_detail,
               latitude, longitude, partnership
          FROM laundry
         WHERE laundry_id = ${laundryId};
    </select>
</mapper>